<head>

  <style>
  
    #menu {
      list-style-type: none;
      padding: 0;
    }
    #menu li {
      display: inline;
      margin-right: 10px;
      cursor: pointer;
    }
  
    .table-container {
      display: none;
    }
    .table-container.active {
      display: block;
    }
  </style>
  </head>
  <body>
  
  <ul id="menu">
    <li onclick="showTable('yourFriends')">Your Friends</li>
    <li onclick="showTable('users')">Users</li>
    <li onclick="showTable('trade')">Trade</li>
    <li onclick="showTable('friendRequests')">Friend Requests</li>
  </ul>
  
  <div id="yourFriends" class="table-container active">
  
  </div>
  
  <div id="users" class="table-container">
  
  </div>
  
  <div id="trade" class="table-container">
  
  </div>
  
  <div id="friendRequests" class="table-container">
  
  </div>
  
  <div class="container">
    <form id="username" action="javascript:sendItem">
        <p><label>
            Friend ID:
            <input class="userInput" type="text" name="uid" id="uid" required>
        </label></p>
        <p ><label>
            Item:
            <input class="userInput" type="item" name="item" id="item" required>
        </label></p>
        <p>
            <button id="sendButton">Send</button>
        </p>
    </form>
  </div>
  
  <script>
  
    var yourFriends = [];
    var friendRequests = [];
    var users = [];
    var trade = [];
    const friendUrl = 'http://127.0.0.1:8028/api/users/send';
    const url = "http://127.0.0.1:8028/api/users/";
    const frUrl = 'http://127.0.0.1:8028/api/users/friendrq';
    const options = {
        method: 'GET',
        mode: 'cors',
        cache: 'default',
        credentials: 'include',
        headers: {
            'Content-Type': 'application/json',
        },
    };
    var curr_uid = localStorage.getItem("uid");
    generateTable(curr_uid);

    function generateRow(containerId, dataList) {
      var container = document.getElementById(containerId);
      container.innerHTML = '';
      var table = document.createElement('table');
  
      for (let i = 0; i < dataList.length; i++) {
        var row = table.insertRow();
        var cell = row.insertCell();
        cell.appendChild(document.createTextNode(dataList[i]));
  
        if (containerId == "users") {
          var request = row.insertCell()
          var addFriend = document.createElement("button")
          addFriend.textContent = "Add friend";
  
          addFriend.onclick = function() {
            const user = localStorage.getItem("uid");
            const body = {
              sender: user,
              receiver: dataList[i],
            };
            console.log(body)
            const authOptions = {
              ...options, 
              method: 'POST', 
              cache: 'no-cache', 
              body: JSON.stringify(body)
            };
            fetch(frUrl, authOptions)
            .then(response => {
  
                if (!response.ok) {
                    const errorMsg = response.status;
                    console.log(errorMsg);
                    return;
                }
            })
  
            .catch(err => {
                console.error(err);
            });
            }
            request.append(addFriend);
        }
  
        if (containerId == "friendRequests") {
          var fr = row.insertCell()
          var accept = document.createElement("button")
          accept.textContent = "Accept Friend Request";
          accept.onclick = function() {
            const user = localStorage.getItem("uid");
            const body = {
              action: "accepted",
              sender: dataList[i],
              receiver: user,
            };
            console.log(body)
            const authOptions = {
              ...options, 
              method: 'DELETE', 
              cache: 'no-cache', 
              body: JSON.stringify(body)
            };
            fetch(frUrl, authOptions)
            .then(response => {
  
                if (!response.ok) {
                    const errorMsg = response.status;
                    console.log(errorMsg);
                    return;
                }
            })
  
            .catch(err => {
                console.error(err);
            });
            }
            fr.append(accept);
        }
      }
      container.appendChild(table);
    }
  
    function sendItem(receiver, ingredient) {
      const body = {
              uid: receiver,
              items: ingredient,
          };
          const authOptions = {
              ...options, 
              method: 'POST', 
              cache: 'no-cache', 
              body: JSON.stringify(body)
          };
      if (yourFriends.includes(receiver) == false) {
        alert(`You have to be friends with ${receiver} before sending them an item!`);
        return;
      }
      if (trade.includes(ingredient) == false) {
        alert(`You don't have ${ingredient} to send!`);
        return;
      }
      fetch(friendUrl, authOptions)
      .then(response => {
          if (!response.ok) {
              const errorMsg = 'Login error: ' + response.status;
              console.log(errorMsg);
              return;
          }
          alert("You just sent an item!");
      })
      .catch(err => {
          console.error(err);
      });
    }
    function generateTable(curr_uid) {
      fetch(url, options)
        .then(response => {
            if (response.status !== 200) {
                if (response.status === 401 || response.status == 403) {
                    window.location.href = "/cpt-frontend/lmc-login";
                }
            }
            response.json().then(data => {
                for (let i = 0; i < data.length; i++) {
                    var user = data[i];
                    users.push(user.uid);
                    if (user.uid == curr_uid) {
                      var parsed = JSON.parse(user.friends)
                      for (var j = 0; j < parsed.length; j++){
                        yourFriends.push(parsed[j]);
                      }
                      var parsed2 = JSON.parse(user.items)
                      for (var k = 0; k < parsed2.length; k++){
                        trade.push(parsed2[k]);
                      }
                      var parsed3 = JSON.parse(user.friendrq)
                      for (var p = 0; p < parsed3.length; p++){
                        friendRequests.push(parsed3[p]);
                      }
                    } 
                }
                generateRow('yourFriends', yourFriends);
                generateRow('users', users);
                generateRow('trade', trade);
                generateRow('friendRequests', friendRequests);
            });
        })
  
        .catch(err => {
            console.error(err);
        });
      }
  
    function showTable(tableId) {
  
      console.log(tableId);
  
      var tables = document.querySelectorAll('.table-container');
      tables.forEach(function(table) {
        table.classList.remove('active');
      });
  
      var selectedTable = document.getElementById(tableId);
      selectedTable.classList.add('active');
    }
  
    const sendButton = document.getElementById("sendButton")
  
    sendButton.addEventListener("click", function() {
      var receiver = document.getElementById("uid").value
      var ingredient = document.getElementById("item").value
      sendItem(receiver, ingredient)
      window.location.reload();
    })
  </script>
  
  </body>